@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300,400,700;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.margin-bt-la {
  margin-bottom: 60px;
}

button {
  font-size: 16px;
  padding: 20px 60px 20px;
  border-radius: 50px;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

/* Hero Section */

#hero {
  /* background-image: url(https://images.unsplash.com/photo-1597437088763-6e44f32ca964?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=835&q=80); */
  background-image: url(forPG.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* position: relative; */
}

#hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

#hero p {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.btn {
  /* position: fixed;
  bottom: 27%;
  left: 50%;
  transform: translateX(-50%); */
  transition: all 0.8s ease-out;
}

.btn.scroll {
  position: fixed;

  transform: translate(525px, 120px);

  background-color: steelblue;
  color: #fff;
  padding: 16px;
  border-radius: 50%;
}

/* .btn:active,
.btn.scroll:active {
  transform: scale(0.98);
} */

.btn.scroll i {
  font-size: 32px;
}

.hidden {
  display: none;
}
/* Navbar */

#navbar {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

#navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#navbar.active {
  background-color: #fff;
}

#navbar.active a {
  color: #000;
  font-weight: bold;
}

#navbar.active .container {
  padding: 10px 0;
}

#navbar a:hover,
#navbar a.current {
  color: red;
}

#navbar .hidden {
  display: none;
}

/* Services */
#services {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#services h1 {
  font-size: 46px;
  margin: 0 0 30px;
}

#services .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 10px;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
}

.serviceItemContainer {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 300px;
  margin: 0 30px 20px;
}

.serviceItemContainer--img {
  max-width: 170px;
  height: 110px;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  line-height: 1.5;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

/* Clients */
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#clients h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

#clients p {
  font-size: 20px;
  margin-bottom: 30px;
}

#clients .itemContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  gap: 10px;
  grid-template-areas:
    ". . el4 . ."
    ". el2 el4 el7 ."
    "el1 el2 el5 el7 el9"
    "el1 el3 el5 el8 el9"
    ". el3 el6 el8 ."
    ". . el6 . .";
}

.el img {
  max-width: 150px;
  max-height: 90px;
}

.el {
  background-color: rgb(235, 235, 226);
  padding: 10px;
  border-radius: 10px;
  width: 170px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.el1 {
  grid-area: el1;
}

.el2 {
  grid-area: el2;
}

.el3 {
  grid-area: el3;
}

.el4 {
  grid-area: el4;
}

.el5 {
  grid-area: el5;
}

.el6 {
  grid-area: el6;
}

.el7 {
  grid-area: el7;
}

.el8 {
  grid-area: el8;
}

.el9 {
  grid-area: el9;
}

/* Contacts */

#contacts {
  background-image: url(forPG.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contacts h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

#contacts .icons i {
  font-size: 30px;
  margin: 100px 15px 0;
  color: #fff;
}

#navbar div {
  color: #fff;
}

/* navbar in small screen */
/* Under 1200px */
.hidden {
  opacity: 0;
}

.btnBreak {
  position: fixed;
  bottom: 15px;
  right: 15px;

  background-color: steelblue;
  color: #fff;
  padding: 16px;
  border-radius: 50%;
}

.btnBreak i {
  font-size: 32px;
}

@media (max-width: 600px) {
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  .modal a {
    color: gray;
    text-decoration: none;
    padding: 30px 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .modal a:hover,
  .modal a.current {
    color: red;
  }

  .modal.hidden {
    display: none;
  }

  .setting {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
    margin: 0 15px 0;
  }

  .setting:focus {
    outline: 0;
  }

  .setting .line {
    background-color: #fff;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.3s linear;
  }

  .setting .line2 {
    top: auto;
    bottom: 10px;
  }

  .setting.open .line1 {
    transform: rotate(-405deg) translateY(5.5px);
  }

  .setting.open .line2 {
    transform: rotate(405deg) translateY(-5.5px);
  }

  #clients .itemContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #clients .itemContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "el4"
      "el5"
      "el6";
  }

  .el1,
  .el2,
  .el3,
  .el7,
  .el8,
  .el9 {
    display: none;
  }

  #services .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "item1 item2 item3"
      "item4 item5 item6";
  }

  .serviceItemContainer {
    width: 100px;
  }

  .description {
    display: none;
  }
}
